$theme-colors: (
  "primary": #D12F24,
  "secondary": rgb(212, 212, 212),
  "info": #F26056,
);

@import './bootstrap-4.3.1/scss/bootstrap.scss';

button {
 @extend .btn;
 @extend .btn-primary;
}

.secondary-button {
  @extend .btn;
  @extend .btn-secondary;
  @extend .text-primary;
}

.header-img {
  max-height: 5rem;
} 

.calendar-size {
  height: 30rem;
  width: 20rem;
}