.row {
  display: flex;
  margin-bottom: 3rem;
}

.row-item {
  margin-right: 8rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group .input {
  border: 1px solid #cacccd;
  height: 3rem;
  border-radius: 5px;
  width: 16rem;
  padding-left: 0.5rem;
}

.input-group .select {
  border: 1px solid #cacccd;
  height: 3rem;
  border-radius: 5px;
  width: 17rem;
  padding-left: 0.5rem;
}

.input-group span {
  padding-bottom: 1rem;
  color: #555555;
}

.input-group .subtitle {
  font-size: 1.2rem;
}

.radio-button {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

button {
  color: #D12F24;
  background: #D8D8D8;
  border: none;
  border-radius: 3px;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.4rem;
}