p {
  color: #555555;
}

.row-1 {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.row-2 {
  width: 60%;
  display: flex;
  justify-content: space-between;
} 

.prompt {
  width: 50%;
}

.answer {
  width: 50%;
  font-weight: bold;
}

button {
  width: auto;
  height: auto;
  color: white;
  background: #D12F24;
  border: none;
  margin-right: 5rem;
  margin-top: 3rem;
  border-radius: 5px;
  width: 12rem;
  font-size: 1.4rem;
}