.checkbox-label {
  width: fit-content;
  display: inline-block;
}

.input-group ul {
  padding: 0;
  margin: 0;
}

.input-group li {
  width: fit-content;
  display: inline-block;
}

.room {
  display: inline;
}

.time {
  display: inline;
}
