.selector {
  display: grid;
}

ul {
  list-style: none;
  padding: 0;
}

th {
  font-weight: normal;
}

.makeup-btn {
  border-radius: 2px;
  background-color: #F26056;
  margin: 0;
}

.makeup-btn:hover {
  opacity: 0.5;
}