.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 1.5rem;
}

.title {
  font-weight: bold;
  color: #484848;
  font-size: 1.7rem;
  padding: 0 0 1rem 0;
}

.button-link {
  text-decoration: none;
  padding:20px;
  text-align: center;
  background-color: #D12F24;
  color: white;
  border-radius: 8px;
}

.rbc-calendar {
  min-height: 400px ;
  max-width: 600px;
}
