/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html {
  font-size: 62.5%;
  font-family: 'Roboto', arial, sans-serif;
  color: #151515;
}

.loading-container {
  height: 90vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.loading {
  display: inline-block;
  color: #151515;
  font-weight: 300;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}  */