.DateInput_input__focused {
  border-bottom-color: #D12F24;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #D12F24;
}

.SingleDatePicker {
  width: 32rem;
}

.CalendarDay__selected {
  background: #D12F24;
  border: 1px solid #D12F24;
  color: white;
}

.CalendarDay__selected:hover {
  background: rgba(209, 48, 36, 0.637);
  border: 1px solid rgba(209, 48, 36, 0.637);
  color: white;
}