/* header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin: 0 auto;
  max-width: 90rem;
}

header div {
  text-align: left;
}

header p {
  padding: 0;
  padding-bottom: 0.3rem;
  margin: 0;
  font-size: 1.5rem;
}

header img {
  max-height: 6rem;
} */

.header-img {
  max-height: 5rem;
} 